body {
    transition: all 0.3s ease;
    font-family: sans-serif;
    padding: 2rem;
}

/* Các class theme */
.theme-light {
    background-color: #f0f0f0;
    color: #222;
}

.theme-dark {
    background-color: #222;
    color: #f0f0f0;
}

#theme-dropdown {
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
    margin-top: 10px;
}

#theme-dropdown li {
    padding: 8px 15px;
    cursor: pointer;
}

#theme-dropdown li:hover {
    background-color: #ddd;
    color: #000;
}

#theme-message {
    margin-top: 20px;
    font-weight: bold;
}